.modal-animation-enter-active,
.modal-animation-leave-active {
  transition: opacity 0.3s cubic-bezier(0.52, 0.02, 0.19, 1.02);
}
.modal-animation-enter-from,
.modal-animation-leave-to {
  opacity: 0;
}
.modal-animation-inner-enter-active {
  transition: all 0.3s cubic-bezier(0.52, 0.02, 0.19, 1.02) 0.15s;
}
.modal-animation-inner-leave-active {
  transition: all 0.3s cubic-bezier(0.52, 0.02, 0.19, 1.02);
}
.modal-animation-inner-enter-from {
  opacity: 0;
  transform: scale(0.8);
}
.modal-animation-inner-leave-to {
  transform: scale(0.8);
}
.fa-plus-circle{
    color: green;
    border-radius: 100%;
    box-shadow: 5px 5px 5px #b7a3a3;
}
.fa-trash{
  color: red;
}
.create-item{
  width: 100%;
}
.action-header{
  width: 107px;
}
.action-button{
  float: right;
}
.second-button{
  margin-right: 15px;
}
.answer{
  margin-bottom: 0.9rem;
}
button:disabled {
  cursor: default !important;
  pointer-events: none !important;
  opacity: 0.45 !important;
}
.my-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  .modal-inner {
    position: relative;
    max-width: 940px;
    width: 70%;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    background-color: #fff;
    padding: 24px 16px;
    overflow-y: auto;
    max-height: 80%;
    i {
      position: absolute;
      top: 15px;
      right: 15px;
      font-size: 20px;
      cursor: pointer;
      &:hover {
        color: #007bff;
      }
    }
  }
}