<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-12">
        <h1 v-if="hasSession">{{$t("messages.followQuestion")}}</h1>
        <h1 v-else>{{$t("messages.noQuestionnaire")}}</h1>

      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<div class="card" v-if="hasSession">
  <!-- /.card-header -->
  <div class="card-body">
      <div class="row">
        <div class="col-sm-12">
          <!-- radio -->
          <div class="form-group">
            <h5 class="mt-4 mb-2">{{question.questiontext}}</h5>
            <div class="custom-control custom-radio answer" v-for="(answer, index) in question.answers">
              <input class="custom-control-input" type="radio" :id="index" :value="index" name="radio" v-model="selectedAnswer">
              <label :for="index" class="custom-control-label">{{answer.text}}</label>
            </div>
            <div class="form-group row action-button">
              <app-button class="btn-primary" @click="onAnswer()" :loading="isLoading">
                <span>{{$t("labels.answer")}}</span>
              </app-button>
            </div>
          </div>
        </div>
      </div>
  </div>
  <!-- /.card-body -->
</div>
