<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>{{ `${$t("labels.manage")} ${$t("labels.categories")}` }}</h1>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<div class="card">
    <!-- /.card-header -->
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th v-for="column in columns">
                {{column}}
            </th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(category, index) in categories">
          <td>{{category.name}}</td>
          <td>{{category.info}}</td>
          <td style="width: 15%;">
            <a href="#" class="btn" @click="onEdit(index)">
              <i class="fas fa-pen"></i>
            </a>
            <a href="#" class="btn" @click="onDelete(index)">
              <i class="fas fa-trash"></i>
            </a>
          </td>
        </tr>

        </tbody>

      </table>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->

