<div class="login-box">
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <router-link to="/register" class="h1">{{$t("labels.register")}} </router-link>
        </div>
        <div class="card-body">
            <form @submit.prevent="onSubmit">
                <app-input
                    icon="envelope"
                    class="mb-3"
                    type="email"
                    placeholder="Email"
                    autocomplete="off"
                    v-model="email"
                />
                <app-input
                    class="mb-3"
                    type="text"
                    placeholder="Nome completo"
                    autocomplete="off"
                    v-model="name"
                />
                <app-input
                    icon="lock"
                    class="mb-3"
                    type="password"
                    placeholder="Senha"
                    autocomplete="off"
                    v-model="password"
                />
                    <app-input
                    icon="lock"
                    class="mb-3"
                    type="password"
                    placeholder="Confirmar Senha"
                    autocomplete="off"
                    v-model="passwordConfirmation"
                />

                <div class="row">
                    <div class="col-7">
                        <app-checkbox v-model="isTeacher">
                            {{ $t("labels.iAmTeacher") }}
                        </app-checkbox>
                    </div>
                    <div class="col-5">
                        <app-button
                            class="btn-primary"
                            type="submit"
                            block="true"
                            :loading="isLoading"
                        >
                        {{ $t("labels.register") }}
                        </app-button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
