<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>{{ $t("labels.changePassword") }}</h1>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<div class="card">
    <div class="card-body">
        <app-input icon="lock" class="mb-3 col-sm-8" type="password" placeholder="Nova senha" autocomplete="off"
            v-model="password" />
        <app-input icon="lock" class="mb-3 col-sm-8" type="password" placeholder="Confirme a nova senha" autocomplete="off"
            v-model="confirmPassword" />

        <div class="row">
            <div class="col-12">
                <app-button class="btn-primary" @click="onSubmit()" :loading="isLoading">
                    <span>{{$t("labels.change")}}</span>
                </app-button>
            </div>
            <!-- /.col -->
        </div>
    </div>
</div>