<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>{{ `${$t("labels.manage")} ${$t("labels.questions")}` }}</h1>
      </div>
    </div>
  </div>
</section>

<div class="card">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th v-for="column in columns">
            {{column}}
          </th>
          <th class="action-header">
            <a href="#" class="btn create-item" @click="onOpenModal('create')">
              <i class="fas fa-plus-circle fa-2x"></i>
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(question, index) in questions">
          <td>{{question.name}}</td>
          <td v-if="question.questiontext.length<questionTextMaxChars">{{question.questiontext}}</td>
          <td v-else>{{question.questiontext.substring(0,questionTextMaxChars)+"..."}}</td>

          <td>{{getCategoryNameById(question.category_id)}}</td>

          <td v-if="question.ability == -3">{{$t("labels.easy")}}</td>
          <td v-if="question.ability == 0">{{$t("labels.medium")}}</td>
          <td v-if="question.ability == 3">{{$t("labels.hard")}}</td>

          <td class="action-column">
            <a href="#" class="btn" @click="onOpenModal(index)">
              <i class="fas fa-pen"></i>
            </a>
            <a href="#" class="btn action-button" @click="toggleDeleteModal(index)">
              <i class="fas fa-trash"></i>
            </a>
          </td>
        </tr>

      </tbody>

    </table>
  </div>
</div>

<transition name="modal-animation">
  <div v-show="modalActive" class="my-modal">
    <transition name="modal-animation-inner">
      <div v-show="modalActive" class="modal-inner">
        <i @click="toggleModal()" class="far fa-times-circle"></i>

        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 v-if="isEditing">{{ $t("labels.edit") }} {{ $t("labels.question") }}</h1>
                <h1 v-if="!isEditing">{{ $t("labels.create") }} {{ $t("labels.question") }}</h1>
              </div>
            </div>
          </div>
        </section>

        <section class="content">
          <div class="container-fluid">
              <div class="form-group row">
                <label for="questionNameInput" class="col-sm-2 col-form-label">{{$t("labels.questionName")}}*</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="questionNameInput" v-model="name" />
                </div>
              </div>
              <div class="form-group row">
                <label for="questionTextInput" class="col-sm-2 col-form-label">{{$t("labels.questionText")}}*</label>
                <div class="col-sm-10">
                  <textarea class="form-control" id="questionTextInput" v-model="questionText"></textarea>
                </div>
              </div>
              <div class="form-group row">
                <label>{{$t("labels.answersQuantity")}}*</label>
                <div class="col-sm-6">
                  <select class="custom-select" @change="onChangeAnswersQuantity()" v-model="selectedAnswersQuantity" :disabled="isEditing">
                    <option v-for="i in maxAnswersQuantity" :value="i+1">{{i+1}}</option>
                  </select>
                </div>
              </div>
              <template v-for="i in answersQuantity">
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">{{$t("labels.alternative")}} {{i}}*</label>
                  <div class="col-sm-10">
                    <textarea class="form-control" v-model="answersText[i]"></textarea>
                  </div>
                </div>
              </template>
              <div class="form-group row">
                <div class="col-sm-3">
                  <div class="form-group">
                    <label>{{$t("labels.correctAnswer")}}*</label>
                      <select class="custom-select" v-model="correctAnswer">
                        <option v-for="i in answersQuantity" :value="i">{{$t("labels.alternative")}} {{i}}</option>
                      </select>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label>{{$t("labels.difficulty")}}*</label>
                    <select class="custom-select" v-model="questionDifficulty">
                      <option value="-3">{{$t("labels.easy")}}</option>
                      <option value="0">{{$t("labels.medium")}}</option>
                      <option value="3">{{$t("labels.hard")}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>{{$t("labels.category")}}*</label>
                    <select class="custom-select" @change="onChangeCategory()" v-model="selectedCategoryIndex">
                      <option v-for="(category, index) in categories" :value="index">
                        {{category.name}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group row action-button">
                <app-button class="btn-default second-button" @click="toggleModal()">
                  <span >{{ $t("labels.cancel") }}</span>
                </app-button>
                <app-button class="btn-primary" @click="onSubmit()" :loading="isLoading">
                  <span v-if="isEditing">{{ $t("labels.edit") }}</span>
                  <span v-if="!isEditing">{{$t("labels.create")}}</span>
                </app-button>
              </div>
          </div>
        </section>
      </div>
    </transition>
  </div>
</transition>

<transition name="modal-animation">
  <div v-show="modalDeleteActive" class="my-modal">
    <transition name="modal-animation-inner">
      <div v-show="modalDeleteActive" class="modal-inner">
        <i @click="toggleDeleteModal()" class="far fa-times-circle"></i>

        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>{{ $t("labels.delete") }} {{ $t("labels.question") }}</h1>
              </div>
            </div>
          </div>
        </section>

        <section class="content">
          <div class="container-fluid">
              <div class="form-group row ">
                <div class="offset-sm-2 col-sm-10">
                  {{$t("messages.deleteItemConfirmation")}}
                </div>
              </div>
              <div class="row action-button">
                  <app-button class="btn-default second-button" @click="toggleDeleteModal()">
                    <span >{{ $t("labels.cancel") }}</span>
                  </app-button>
                  <app-button class="btn-primary"  :loading="isLoading" @click="onDelete">
                    <span >{{ $t("labels.delete") }}</span>
                  </app-button>
              </div>
          </div>
        </section>
      </div>
    </transition>
  </div>
</transition>