<div class="login-box">
    <!-- /.login-logo -->
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <router-link to="/" class="h1">{{ $t("labels.questionnaire") }}</router-link>
        </div>
        <div class="card-body">
            <form @submit.prevent="loginByAuth">
                <app-input
                    icon="envelope"
                    class="mb-3"
                    type="email"
                    placeholder="Email"
                    autocomplete="off"
                    v-model="email"
                />
                <app-input
                    icon="lock"
                    class="mb-3"
                    type="password"
                    placeholder="Senha"
                    autocomplete="off"
                    v-model="password"
                />

                <div class="row">
                    <div class="col-7">
                        <app-checkbox v-model="rememberMe">
                            {{ $t("labels.rememberMe") }}
                        </app-checkbox>
                    </div>
                    <!-- /.col -->
                    <div class="col-5">
                        <app-button
                            class="btn-primary"
                            type="submit"
                            block="true"
                            :loading="isAuthLoading"
                        >
                        {{ $t("labels.signIn") }}
                        </app-button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            <!-- /.social-auth-links -->
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
